body{
	/*overflow: hidden;*/
	overflow: visible;
}

@font-face{
	font-family: 'mainFont';
	src: url('asset/SNR.ttf');
}

.removeNavbarMargin {
	margin-bottom: 0px;
}

.addTopMargin {
	margin-top: 300px;
}